.custom-dropshadow {
  padding: 2rem;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
}

.see {
  position: absolute;
  bottom: 8px;
  right: 13px;
  cursor: pointer;
  opacity: 60%;
}

#password {
  position: relative;
}
